.films {
    list-style-type: none;
    background-color: #E1E6ED;
    padding: 0;

    &-item {
        display: flex;
        padding: 14px;
        flex-direction: column;
        height: 100%;
        background-color: #FFFFFF;
        color: #2A677C;
        margin: 22px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
        font-family: 'Barlow', sans-serif;
        box-shadow: 0px 4px 12px rgba(224, 230, 238, 0.5);

        @include breakpoint(mobile) {
            font-size: 14px;
            line-height: 15px;
            margin: 20px;
        }
    }

    &-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include breakpoint(large-desk) {
            font-size: 20px;
        }
    }

    &-table {
        top: 22px;
        color: #474747;
        width: 718px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        border-radius: 4px;
        font-family: 'Barlow', sans-serif;
        border-collapse: collapse;
        background: #FFFFFF;

            @include breakpoint(mobile) {
                margin-top: 10px;
                width: 100%;
                display: inline-block;
                overflow-x: auto;
            }

            @include breakpoint(large-desk) {
                width: 940px;
                font-size: 15px;
            }

            
        thead {
        
            @include breakpoint(mobile) {
                width: 100%;
                display: inline;
            }

            td {
                padding: 10px;

                @include breakpoint(mobile) {
                    padding: 10px;
                }

                @include breakpoint(large-desk) {
                    font-size: 18px;
                    padding: 15px;
                    line-height: 20px;
                }
            }
        }

        tbody {
        
            @include breakpoint(mobile) {
                width: 465px;
            }

            &:nth-child(odd) {
                @include breakpoint(mobile) {
                    width: 465px;
                    background-color: #E1E6ED;
                }
            }

            tr {
                @include breakpoint(mobile) {
                    width: 465px;
                    display: flex;
                    padding: 5px;
                    flex-direction: row;
                    overflow: hidden;
                    justify-content: stretch;
                }
            }
        }

        .main-row {
            border-bottom: 1px solid #C4C4C4;

            @include breakpoint(mobile) {
                padding-right: 10px;
            }

            tr {
                width: 100%;

                @include breakpoint(mobile) {
                    width: 270px;
                }
            }
        }

        th {
            padding: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;

            @include breakpoint(mobile) {
                padding: 5px;
                width: 475px;
            }

            @include breakpoint(large-desk) {
                font-size: 18px;
                padding: 12px;
            }
        }
    
    }

    &-span {
        display: block;
        width: 100%;
        border-top: 2px dashed #FFFFFF;
        margin: 32px 0px;
    }

    &-btn {
        @include breakpoint(mobile) {
            width: 14px;
            height: 15px;
        }
    }

}