.form {
    background-color: #FFFFFF;
    width: 100%;
    height: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        height: 190px;
    }

    @include breakpoint(large-desk) {
        height: 240px;
    }

    &-input {
        padding: 20px 0px 10px 0px;
        
        &-label {
            display: block;
            position: absolute;
            padding-left: 88px;
            color: #555555;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;

            @include breakpoint(mobile) {
                padding: 0px;
                font-size: 10px;
            }

            @include breakpoint(large-desk) {
                padding: 0px;
                margin-left: 92px;
                font-size: 15px;
            }
         }

        .error {
            display: block;
            position: absolute;
            padding-left: 88px;
            color: #FF1616;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;

            @include breakpoint(mobile) {
                margin-top: 3px;
                font-size: 10px;
                padding: 0px;
            }

            @include breakpoint(large-desk) {
                margin: 5px 0px 0px 86px;
                padding: 5px;
                font-size: 16px;
            }
         }
    }

    &-search {
        margin-top: 10px;
        padding-top: 7px; 
    }

    .input {
        width: 539px;
        height: 32px;
        margin: 10px;
        padding-top: 4px;
        border: none;
        border-bottom: 1px solid #999999;
        font-size: 16px;
        font-weight: normal;
        line-height: 19px;
        font-family: $main-font-family;
        font-weight: 100;

        @include breakpoint(mobile) {
            width: 100%;
            margin: 0px;
            margin-top: 5px;
            font-size: 13px;
        }

        @include breakpoint(large-desk) {
            width: 80%;
            height: 50px;
            margin: 0px;
            margin-top: 5px;
            font-size: 17px;
        }

        &:focus {
            color: #555555;
            outline: none;
            background-color: #FDFFE2;
        }

        &-error {
            color: #FF1616;
            width: 539px;
            height: 32px;
            border: 1px #FF1616 solid;
            float: left;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;

            p {
                width: 100%;
                float: left;
            }

        }
    }

    .add-btn {
        background-color: #1BA1BE;
        border-radius: 4px;
        color: #FFFFFF;
        border: none;
        width: 160px;
        height: 33px;
        font-size: 12px;
        margin-top: 40px;
        margin-right: 85px;
        font-family: 'Barlow', sans-serif;
        line-height: 16px;
        text-transform: uppercase;
        float: right;

        @include breakpoint(mobile) {
            width: 80px;
            height: 30px;
            font-size: 10px;
            margin: 0px;
            margin-top: 30px;
        }
    }

    .css-10nd86i{
        width: 540px;
        height: 32px;
        margin-left: 90px;
        font-weight: 100;
        color: #555555;
        float: left;

        @include breakpoint(mobile) {
            width: 100%;
            margin: 0px;
            margin-top: 5px;
            font-size: 13px;
        }

        @include breakpoint(large-desk) {
            margin-top: 6px;
            width: 80%;
        }
    }
}