$title-font-color: #4A9FBB;
$films-font-color: #2A677C;
$main-background: #E1E6ED;
$footer-font-color: #999999;

$input-error-color: #EB392C;

$primary-color: crimson;

$main-font-family: 'Barlow', sans-serif;